.cont {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
  gap: 1rem;
}


.title {
  font-family: consolas, sans-serif;
  font-size: 1.2rem;
}


.box {
  background-color: #73a173;
  padding: 0.3rem;
  font-family: consolas, sans-serif;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: content-box;
  font-weight: 500;
  color: var(--bg-color);
  border-radius: 0.4rem;
}
