$nav-height: 60px;

.content-cont {
  padding-top: $nav-height;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: var(--content-zindex);
}

.side-cont {
  position: fixed;
  top: 0;
  background-color: var(--panel-color);
  height: 100vh;
  z-index: var(--side-zindex);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
  padding-top: $nav-height;

}

.content {
  flex-grow: 1;
  padding: var(--default-padding);
  box-sizing: content-box;
}

.nav {
  height: $nav-height;
  z-index: var(--nav-zindex);
  background-color: var(--top-nav-color);
  border-bottom: 1px solid var(--border-disabled-color);
  position: fixed;
  width: 100%;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// ------------------------------------------------------------

.side-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
}

.side-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-label {
  font-size: 20px;
  padding-top: 5px;
  overflow: hidden;
  word-break: keep-all;
}

.side-button-icon {
  width: 2rem;
}
