$nav-height: 60px;

.content-cont {
  padding-top: $nav-height;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: var(--content-zindex);
}

.side {
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: var(--panel-color);
  padding-top: $nav-height;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.side-parent {
  z-index: var(--side-parent-zindex);
  border-right: 1px solid var(--border-color);
}

.side-children {
  padding-top: $nav-height;
  padding-left: 60px;
  z-index: var(--side-children-zindex);
  border-right: 1px solid var(--border-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.side-div {
  //height: 1rem;
  margin-top: 1rem;
  width: 100%;
  border-top: 1px solid var(--border-color);
}

.content {
  flex-grow: 1;
  padding: var(--default-padding);
  box-sizing: content-box;
}

.nav {
  height: $nav-height;
  z-index: var(--nav-zindex);
  background-color: var(--top-nav-color);
  border-bottom: 1px solid var(--border-disabled-color);
  position: fixed;
  width: 100%;
  border-bottom: 1px solid var(--border-color);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-side-cont {
  padding-right: var(--default-padding);
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.nav-title-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-title-label {
  font-family: consolas, sans-serif;
  font-size: 1.2rem;
}

.nav-title-label:hover {
  text-decoration: underline;
}
