@import "@scss/variable";
@import "variable";

.side {
  position: fixed;
  left: 0;
  top: 0;
  @include bp1 {
    display: none;
    width: $side1;
  }
  @include bp2 {
    display: none;
    width: $side2;
  }
  @include bp3 {
    display: block;
    width: $side3;
  }
  @include bp4 {
    display: block;
    width: $side4;
  }
}


.side .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--focus-color);
  color: var(--background-color);
  font-weight: 700;
  font-size: 1.4rem;

  @include bp1 {
    height: $nav1;
  }
  @include bp2 {
    height: $nav2;
  }
  @include bp3 {
    height: $nav3;
  }
  @include bp4 {
    height: $nav4;
  }
}

.content-width {
  @include bp1 {
    width: 100%;
    left: 0;
  }
  @include bp2 {
    width: 100%;
    left: 0;
  }
  @include bp3 {
    width: calc(100% - $side3);
    left: $side3;
  }
  @include bp4 {
    width: calc(100% - $side4);
    left: $side4;
  }
}

.content {
  position: relative;
  top: 0;
}

.nav {
  position: fixed;
  top: 0;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include bp1 {
    left: 0;
    height: $nav1;
  }
  @include bp2 {
    left: 0;
    height: $nav2;
  }
  @include bp3 {
    left: $side3;
    height: $nav3;
  }
  @include bp4 {
    left: $side4;
    height: $nav4;
  }
}

.nav-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-menu {
  @include bp1 {
    display: block;
  }
  @include bp2 {
    display: block;
  }
  @include bp3 {
    display: none;
  }
  @include bp4 {
    display: none;
  }
}

.main {
  min-height: 100%;
  @include bp1 {
    padding-top: calc($nav1 + 0.5rem);
  }
  @include bp2 {
    padding-top: calc($nav2 + 0.5rem);
  }
  @include bp3 {
    padding-top: calc($nav3 + 0.5rem);
  }
  @include bp4 {
    padding-top: calc($nav4 + 0.5rem);
  }
}


.content-padding {
  @include bp1 {
    padding-left: $content-padding1;
    padding-right: $content-padding1;
  }
  @include bp2 {
    padding-left: $content-padding2;
    padding-right: $content-padding2;
  }
  @include bp3 {
    padding-left: $content-padding3;
    padding-right: $content-padding3;
  }
  @include bp4 {
    padding-left: $content-padding4;
    padding-right: $content-padding4;
  }
}
