$side1: 100%;
$side2: 100%;
$side3: 200px;
$side4: 250px;

$nav1: 40px;
$nav2: 45px;
$nav3: 50px;
$nav4: 55px;

$content-padding1: 0.5rem;
$content-padding2: 0.5rem;
$content-padding3: 1rem;
$content-padding4: 1rem;
