// https://colorhunt.co
// 채도가 낮아지는 순

$orange: (
        "1": #F76E11,
        "2": #FF9F45,
        "3": #FFBC80,
        "4": #dfa2a2,
);

$teal: (
        "1": #092635,
        "2": #1B4242,
        "3": #5C8374,
        "4": #9EC8B9,
);


$blue: (
        "1": #6096B4,
        "2": #93BFCF,
        "3": #BDCDD6,
        "4": #EEE9DA,
);

$sage: (
        "1": #163020,
        "2": #304D30,
        "3": #B6C4B6,
        "4": #EEF0E5,
);

$babyYellow: (
        "1": #FFF2CC,
        "2": #FFD966,
        "3": #F4B183,
        "4": #DFA67B,
);

$beige: (
        "1": #FDF7E4,
        "2": #FAEED1,
        "3": #DED0B6,
        "4": #BBAB8C,
);

$pinkPurple: (
        "1": #756AB6,
        "2":#AC87C5,
        "3": #E0AED0,
        "4": #FFE5E5,
);

$deepGreen: (
        "1": #163020,
        "2":#304D30,
        "3":#B6C4B6,
        "4":#EEF0E5,
);

$deepRed: (
        "1": #F90716,
        "2":#FF5403,
        "3":#FFCA03,
        "4":#FFF323,
);

$basicGreen: (
        "1":#88AB8E,
        "2":#AFC8AD,
        "3":#EEE7DA,
        "4":#F2F1EB,
);

$deepPink: (
        "1":#643843,
        "2":#99627A,
        "3":#C88EA7,
        "4":#E7CBCB,
);

$exactGreen: (
        "1":#003E21,
        "2":#067242,
        "3":#098B54,
        "4":#F8D098,
);

$brown: (
        "1":#85603F,
        "2":#9E7540,
        "3":#BD9354,
        "4":#E3D18A,
);
