.display-flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
