$bp1: 0;
$bp2: 720px;
$bp3: 1080px;
$bp4: 1440px;

$zIndex: (
        "body": 0,
        "tooltip": 10,
        "side": 20,
        "nav": 30,
        "modal": 50,
        "popup": 60,
);

$direction: ("top", "bottom", "left", "right");

@mixin bp1 {
  @media screen and (min-width: $bp1) {
    @content;
  }
}

@mixin bp2 {
  @media screen and (min-width: $bp2) {
    @content;
  }
}

@mixin bp3 {
  @media screen and (min-width: $bp3) {
    @content;
  }
}

@mixin bp4 {
  @media screen and (min-width: $bp4) {
    @content;
  }
}
