.cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 20px;
  padding-top: 5px;
  overflow: hidden;
  word-break: keep-all;
}

.label:hover {
  text-decoration: underline;
}

.bg-img {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    object-fit: contain;
  }
}

