button {
  background-color: var(--focus-color);
  border: 0.2rem solid var(--focus-color);
  opacity: 80%;
  font-size: 1rem;
  font-weight: 900;
}

button:hover {
  opacity: 100%;
}

button.outline {
  color: var(--text-disabled);
  background: var(--background-color);
  border-color: var(--focus-disabled);
  opacity: 100%;
}

button.outline:hover {
  color: var(--text-color);
  text-decoration: underline;
  border-color: var(--focus-color);
}
