@import "../../font/ibmflex";
@import "../../font/consolas";
@import "input";
@import "label";
@import "h";
@import "button";

* {
  font-weight: normal;
  font-family: ibm-flex, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

// 전체적 margin
button, input {
  margin-bottom: 0.8rem;
}


// 주 사용처에 따라서 이름 규칙 짓기
// 사용할떄 -> var(--primary-color)
// text: 기본텍스트 색상
// header: 중요 문구 또는 타이틀
// border:
// background
// focus: h 눈에 띄는 것

:root {
  --text-color: #ccc6d5;
  --text-disabled: #756c6c;
  --header-color: #73b64f;
  --border--color: #161916;
  --border--hover: #303b30;
  --background-color: #000;
  --focus-color: #73b64f;
  --focus-disabled: #35442f;
  --panel-background: linear-gradient(239.59deg, #2c2c2d -44.65%, #1a1a1e 75.57%);
}
