.cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.5rem;
  font-weight: 200;
}

.img {
  margin-right: 0.4rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}

.label {
  vertical-align: center;
  font-size: 1rem;
}

.check {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-grow: 1;
}

.caret {
  width: 1.5rem;
  height: 1.5rem;
}
