@import "../variable";

@include bp1 {
  body {
    font-size: 14px;
  }
}

@include bp2 {
  body {
    font-size: 16px;
  }
}

@include bp3 {
  body {
    font-size: 20px;
  }
}

@include bp4 {
  body {
    font-size: 24px;
  }
}
