@import "../variable";

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  z-index: map-get($zIndex, "nav");
}

@include bp1 {
  nav {
    height: $nav1;
  }
}

@include bp2 {
  nav {
    height: $nav2;
  }
}

@include bp3 {
  nav {
    height: $nav3;
  }
}

@include bp4 {
  nav {
    height: $nav4;
  }
}
